.env
master.key
node_modules
.claude

# Django migrations
Backend/apps/users/migrations/
Backend/apps/events/migrations/
Backend/apps/umamusume/migrations/

# Python virtual environment
Backend/venv/

# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo

# React node_modules
Frontend/node_modules/

# Markdown files
nul
PROGRESS.md